<div class="container" *ngIf="movies$ | async as movies">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Director</th>
                <th scope="col">Distributor</th>
                <th scope="col">Rating</th>
                <th scope="col">Votes</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{movie.title}}</td>
                <td>{{movie.director}}</td>
                <td>{{movie.distributor}}</td>
                <td>{{movie.imdb_rating}}</td>
                <td>{{movie.imdb_votes}}</td>
                <td class="d-flex justify-content-between">
                    <a [routerLink]="['/movies', movie.id]">Edit</a>
                    <button type="button" class="btn btn-secondary" (click)="onDeleteButtonClicked(movie.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a routerLink="/movies/create" class="btn btn-primary">Add</a>
</div>